@import "../normalize";
@import "../variables.scss";

body {
    font-family: $font-normal;
    background-color: $color-background;
    color: $color-text;
    font-size: 1.1em;
}

h1, h2 {
    font-family: $font-heading;
    letter-spacing: .005em;
    margin: .5em 0;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

p {
    text-align: justify;
    hyphens: manual;

    margin: .25em 0;
}

a {
    color: $color-ref-dark;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
