@import "../variables";;

$padding: 1em;
$background: $color-text;

.main {
    background-color: $background;
    box-shadow: 0 0 0 $padding $background, 0 0 10px calc(#{$padding} + 10px) $background;

    padding: 1px 0; // prevents border collapse
    margin: #{$padding+1.5em} 0;

    color: $color-background;

    a {
        color: $color-ref-light;
    }
}
