@import "../variables";

$background: $color-text;

.main {
    padding-top: 2rem;
    padding-bottom: .5rem;

    font-size: .8em;

    p {
        margin: .5em 0;
    }

    background: linear-gradient(fade-out($background, 1), fade-out($background, .5));
}
