@import "../variables";
@import "../media";
@import "../mixins";

$color: $color-background;

.main {
    display: flex;

    font-size: $font-size-h2;
    align-items: center;

    @include md {
        font-size: 1em;
    }

    @include sm {
        flex-direction: column;
    }
}

.list {
    flex: 1 1 0;
    display: flex;
    margin: 0;

    font-size: 1.2em;

    justify-content: space-around;
    align-items: center;

    @include md {
        flex-direction: column;
        align-items: flex-start;
    }
}

.item {
    display: flex;
    flex-direction: column;
    @include md {
        flex-direction: row;
    }
}

.label {
    @include smallThreeD(transparentize($color, .2));
    @include md {
        margin-right: 1ex;

        &:after {
            content: ':';
        }
    }
}

.value {
    margin: 0;
    font-size: 1.2em;
    @include smallThreeD($color);

    @include md {
        font-size: 1em;
    }
}

.action {
    font-size: 1.2em;
    @include smallThreeD($color-ref-light);

    &:hover {
        text-decoration: none;
    }

    margin: 0 1em;

    @include sm {
        margin: 1em 0;
    }
}

.arrow {
    margin-left: 1ex;
    transform: translateX(0);
    transition: .3s ease;
    @include smallThreeDDrop($color-ref-light);
}

.action:hover .arrow {
    transform: translateX(1ex);
}
