@import "../media";
@import "../variables";
@import "../mixins";

.main {
    height: 115vh;
    position: relative;
    min-height: 30rem;

    @include md {
        max-height: 45rem;
    }

    @include sm {
        max-height: 35rem;
    }
}

.background {
    height: 109%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;

    filter: brightness(70%);
}

.image {
    height: 100%;
    mask-image: linear-gradient(#000 0%, #000 80%, transparent 100%);
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@mixin appear {
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    animation-name: appear;
    animation-fill-mode: forwards;
    opacity: 0;
}

.container {
    height: 87%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include appear;
}

@mixin heading {
    @include threeD($color-background);
    text-align: center;
}

.title {
    font-size: 8em;
    margin: 0;

    @include heading;

    @include md {
        font-size: 6em;
    }

    @include sm {
        font-size: 4em;
    }
}

.subtitle {
    font-size: 3em;
    margin: 0 0 .5em;

    @include heading;

    @include md {
        font-size: 1.5em;
    }
}
