@import "~normalize.css/normalize.css";

button {
    background: none;
    border: 0;
    padding: 0;

    color: inherit;

    overflow: visible;
    cursor: pointer;
    outline: none;
}

a {
    outline: none;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: .5em 0;
}
