$z-index-fixed: 1050;

$color-background: #f1d7b2;

//$color-text: #232732; // space cadet
//$color-text: #36454F; // charcoal

$color-text: darken(#3D2B1F, 10%); // bistre;

$color-primary: #cd9b27;
$color-ref-light: saturate(lighten(#cd9b27, 10%), 30%);
$color-ref-dark: saturate(darken(#cd9b27, 15%), 10%);

$color-error: #dc3545;

$color-input-background: white;
$color-input-border: #ced4da;
$color-input-border-active: #b3d1cf;
$color-input-disabled: #dddddd;

$font-size-h1: 2.5em;
$font-size-h2: 1.3em;

$font-normal: "Proza Libre", sans-serif;
$font-heading: "MedievalSharp", sans-serif;
